@define-color bg-color #000000;
@define-color main-fg-color #ffffff;
@define-color secondary-fg-color rgba(255, 255, 255, 0.75);

@define-color active-color rgba(255, 255, 255, 0.1);
@define-color inactive-color #7f849c;

@define-color border-color rgba(255, 255, 255, 0.2);

* {
  all: unset;

  color: @main-fg-color;

  /* prettier-ignore */
  font-family:
    sans-serif,
    "Symbols Nerd Font",
    "Noto Sans CJK JP",
    "Noto Sans CJK KR",
    "Noto Sans CJK SC";
  font-feature-settings: "tnum";
  font-size: 12px;
  font-weight: 600;
  transition:
    background-color 120ms ease,
    color 120ms ease,
    box-shadow 120ms ease;
}

#waybar {
  background-color: @bg-color;
}

#waybar > box {
  margin: 4px 8px;
}

label.module,
#workspaces button {
  padding: 4px 8px;
}

#language {
  min-width: 32px;
}

#tray widget > image {
  padding: 0px 4px;
}

label.module:hover,
#tray > .active:hover,
#workspaces button:hover {
  background-color: @active-color;
}

#tray menu {
  padding: 6px 10px;
  background-color: @bg-color;
  border: 2px solid @border-color;
}

#tray menu separator {
  margin: 4px 0px;
  border-bottom: 2px solid @border-color;
}

#tray menu menuitem {
  padding: 6px 8px;
}

#tray menu menuitem:hover,
#tray menu menuitem:focus,
#tray menu menuitem:selected {
  background-color: @active-color;
}

#tray menu menuitem:disabled {
  color: @inactive-color;
}

/* `all: unset` hides symbols icons. */
#tray menu menuitem arrow,
#tray menu menuitem check,
#tray menu menuitem radio {
  min-width: 1em;
  min-height: 1em;
  color: @secondary-fg-color;
  -gtk-icon-transform: scale(0.8);
  -gtk-icon-shadow: none;
}

#tray menu menuitem arrow {
  margin-left: 8px;
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

#tray menu menuitem check {
  margin-right: 8px;
  -gtk-icon-source: -gtk-icontheme("checkbox-symbolic");
}

#tray menu menuitem check:indeterminate {
  -gtk-icon-source: -gtk-icontheme("checkbox-mixed-symbolic");
}

#tray menu menuitem check:checked {
  -gtk-icon-source: -gtk-icontheme("checkbox-checked-symbolic");
}

#tray menu menuitem radio {
  margin-right: 8px;
  -gtk-icon-source: -gtk-icontheme("radio-symbolic");
}

#tray menu menuitem radio:indeterminate {
  -gtk-icon-source: -gtk-icontheme("radio-mixed-symbolic");
}

#tray menu menuitem radio:checked {
  -gtk-icon-source: -gtk-icontheme("radio-checked-symbolic");
}
