/* Clean up the bookmark manager. */

#BMB_viewBookmarksSidebar,
#BMB_searchBookmarks,
#BMB_bookmarksShowAllTop {
  display: none !important;
}

#BMB_bookmarksToolbar,
#BMB_unsortedBookmarks {
  display: none !important;
}

#BMB_bookmarksShowAllTop + menuseparator {
  display: none !important;
}

#BMB_mobileBookmarks[hidden]:not([hidden="false"]) + menuseparator {
  display: none !important;
}


/* Fix of title length for tabs in "browser.tabs.groups.hoverPreview. */
#tabgroup-panel-content {
  max-width: 42em;
}
