// This config is in the KDL format: https://kdl.dev
//
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

include "common/settings.kdl"
include "common/binds.kdl"
include "common/rules.kdl"
include "common/private.kdl"
include "common/autostart.kdl"

include optional=true "profiles/desktop.kdl"
include optional=true "profiles/laptop.kdl"
